@using MyMvcProject.Entity.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center">Admin Operations</h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr class="text-center">
                    <th>#</th>
                    <th>Username</th>
                    <th>Authorize</th>
                    <th>Make Pasive</th>
                    <th>Change Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <th>@item.Id</th>
                        <td>@item.UserName</td>
                        <td>@item.Role</td>
                        <td><a href="/AdminCategory/DeleteCategory/@item.Id" class="btn btn-danger">Make Pasive</a></td>
                        <td><a href="/AdminCategory/EditCategory/@item.Id" class="btn btn-warning">Change Role</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<a href="/AdminCategory/AddCategory/" class="btn btn-outline-dark btn-block">Add New Admin</a>

