
<button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda girişi
</button>

<div class="modal" tabindex="-1" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hakkımızda Yazı Girişi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="post" action="/About/AddAbout/">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Details1" class="col-form-label">Details1:</label>
                        <input type="text" id="Details1" name="AboutDetails1" class="form-control" @*placeholder="Details1"*@ />
                        <label for="Details2" class="col-form-label">Details2:</label>
                        <input type="text" id="Details2" name="AboutDetails2" class="form-control" @*placeholder="Details2"*@ />
                        <label for="Image1" class="col-form-label">Image 1 Url:</label>
                        <input type="text" id="Image1" name="AboutImage1" class="form-control" @*placeholder="İmage1 Url"*@ />
                        <label for="Image2" class="col-form-label">Image 2 Url:</label>
                        <input type="text" id="Image2" name="AboutImage2" class="form-control" @*placeholder="İmage2 Url"*@ />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>