@using MyMvcProject.Entity.Concrete
@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center">About Operations</h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width=1%" scope="col"></th>
                    <th scope="col">About Title</th>
                    <th scope="col">About Text</th>
                    @*<th scope="col">Make Active</th>
                    <th scope="col">Make Pasive</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>*</td>
                        <td>@item.AboutDetails1</td>
                        <td>@item.AboutDetails2</td>
                        @*<td><a class="btn btn-success" href="#" role="button">Make Active</a></td>
                        <td><a class="btn btn-danger" href="#" role="button">Make Pasive</a></td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Action("AboutPartial", "About")
