
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Category Name</th>
        <th>Category Description</th>
        <th>Category Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Phone</td>
        <td> This is a phone category.</td>
        <td>Active</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Computer</td>
        <td> This is a computer category.</td>
        <td>Pasive</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Tablet</td>
        <td> This is a tablet category.</td>
        <td>Active</td>
    </tr>
</table>