@using MyMvcProject.Entity.Concrete
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center">Category Operations</h3>
        <a href="/AdminCategory/AddCategory/" class="btn btn-dark btn-sm float-right">New Category</a>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr class="text-center">
                    <th>#</th>
                    <th>Category Name</th>
                    <th>Category Description</th>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>Headings</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <th>@item.CategoryId</th>
                        <td>@item.CategoryName</td>
                        <td>@item.CategoryDescription</td>
                        <td><a href="/AdminCategory/DeleteCategory/@item.CategoryId" class="btn btn-danger">Delete</a></td>
                        <td><a href="/AdminCategory/EditCategory/@item.CategoryId" class="btn btn-warning">Update</a></td>
                        <td><a href=# class="btn btn-primary">Headings</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>